<h1>Juego del amigo invisible</h1>
<h3>Bienvenido</h3>


<div *ngIf="contactoSeleccionado;else noSeleccionado">
    <h4>Amigo invisible:{{contactoSeleccionado.name.first}}</h4>
</div>
<ng-template #noSeleccionado>
    <h4>Selecciona a tu amigo invisible</h4>
</ng-template>


<!-- Hacer un login -->
<a *ngIf="!token" routerLink="/login">Iniciar Sesion</a>
<button mat-raised-button color="primary" (click)="navegarAContacts()">Ver tus contactos</button>
<hr>
<div>
    <p>Filtros: </p>
    <a [routerLink]="['/dashboard/contacts']" [queryParams]="{sexo:'female'}">Amigas |</a>
    <a [routerLink]="['/dashboard/contacts']" [queryParams]="{sexo:'male'}">Amigos</a>
</div>



