<p>Tus contactos: </p>

<div *ngFor="let contacto of listaRandomContacts; let i=index">
    <div>
        <h4 routerLink="{{contacto.id.name}}" [state]="{data:contacto,filtro: filtroSexo}">{{contacto.name.first+' '+contacto.name.last}}</h4>
        <button (click)="volverAHome(contacto)">Seleccionar como amigo invisible</button>
    </div>
</div>

<a routerLink="/dashboard"> Volver a contacts</a>

<ng-container *ngIf="filtroSexo=='mujer' || filtroSexo=='hombre';else todosLosContactos">
    <p>Mostrando la lista filtrada por amigos <u>"{{filtroSexo}}"</u></p>
</ng-container>

<ng-template #todosLosContactos>
    <p>Mostrando la lista entera</p>
</ng-template>

